version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    environment:
      PORT: 3000
      NODE_ENV: production
    volumes:
      - made-data:/app/.made
    ports:
      - "3000:3000"

  frontend:
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  made-data:
